#tt-one, #tt-two {
    padding-top: 25px;
}
.first-class, .second-class, .third-class {
    width: 33%;
    float: left;
    overflow: auto;
}

.mp-container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.main-svg {
    float: left;
    width: 65%;
    overflow: auto;
}
.mp-info {
    float: left;
    height: 50%;
    width: 35%;
    overflow: auto;
}

